
/* CONFIGURATION PRINCIPALE */


html {
  width:100%;
}


body{
  font-family: "Raleway", sans-serif;
  font-size: 18px;         /* 16px par défaut pour utiliser les em */
  margin: auto;
  max-width: 100%;
  display: flex;
  justify-content:center;
}




a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065fc;
}


ul {
  list-style-type: none;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}



/* HEADER NAVIGATION ******************************************************************** */


#container-nav {
  width: 100%;   /* Permettre une marge à toute la page du HEADER jusqu'au FOOTER */
}


/* IMG (LOGO) + <NAV> + SINSCRIRE (SURVOL des 3 ONGLETS)*/
.container-nav a:hover {
  color: #0065fc;
}




* {    /* <a href "#"= class="sinscrire*>S'inscrire/</a> */
  margin: 0;
  padding: 0;

}


header {   /* LOGO + Class NAVMAIN */
  background-color: yellow;
  display:flex;
  flex-direction:row;                 /* ORDRE des items (inversé - en colonne etc..) */
  justify-content: space-between;    /* nav espacée complètement à droite */
}


#logo{
background-color:aquamarine;
display:flex;
justify-self: flex-start;
width:100px;
height: auto;
margin:3vw 3vw 1.5vw 2.5vw;                   /* Hauteur marge */
}



nav ul { /* CLASS "nav_bar" */
  background-color: tomato;
  display: flex;
  align-items: center;
  list-style:none;                /* NONE = pas de puce */
  margin-top: 0;
  margin-right: 0;              /* pour l'espace à partir de la DROITE= 0vw */
}

nav {  /* <NAV (GLOBAL)> 01 Hébergement + Activités */
  padding: 0px;
  justify-content:flex-start;
}

nav ul li { /* <NAV> 03 Hébergement + Activités (CENTRE MENU)*/
  border-top: solid 2.5px 
  ;
  padding: 10px 15px 0 15px;          /* haut droite bas gauche */
}
nav ul li:hover { /* <NAV> 04.A Hébergement + Activités (TRAIT AU-DESSUS)*/
  border-top: solid 5.5px #0065fc;
}

/* ************************************************************ */


.navmain {
  padding: 50px 25px 50px 30px;        /* haut droite bas gauche */
	border-top: solid 5.5px transparent;
  padding-bottom: 50px;
  padding-top: 5 0px;
}



.sinscrire {
  font-weight: bolder;
  font-size: 18px;
  color: #0065fc;
  float: right;

  padding: 0 50px 30px 50px;       /* haut droite bas gauche */
	border-top: solid 2.5px transparent;
}

.lightblue-link {       /* S'inscrire */
  padding: 50px 30px 25px 5px;         /* haut droite bas gauche */
	border-top: solid 5.5px transparent;
}
