
/* CONFIGURATION PRINCIPALE */

:root {
  --lightgrey: #f2f2f2;
  --blue: #0065fc;
	--lightblue: #DEEBFF;
	--grey:#D9D9D9;
	--radius: 20px;
}

* {    /* <a href "#"= etc...*/
  margin: 0;
  padding: 0;
}

html {
  width:100%;

  -webkit-overflow-x: hidden;
  overflow-x: hidden;
}

body{
  font-family: "Raleway", sans-serif;
  display: flex;
	justify-content: center;
  margin: 0;
  font-size: 16px;   /* 16px par défaut pour utiliser les em */
  max-width: 100%;
  overflow-x: hidden;

  -webkit-overflow-x: hidden;
}

/* LOGO + <NAV> + SINSCRIRE (SURVOL des 3 ONGLETS)*/

#container-nav {
  width: 100%;  /* Permettre marge à toute la page du HEADER jusqu'au FOOTER */
}
.container-nav a:hover {
  color: var(--blue);
}


/* LIEN après une visite */

.navmain a:visited, .apropos a:visited, .principal a:visited, .populaires a:visited, .Activites a:visited .plusderesultats a:visited {
	color: black;
}

.sinscrire a:visited {
	color: var(--blue);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: var(--blue);
}

ul {
  list-style-type: none;
  font-weight:600;   /*Gras navmain*/
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

p {
  font-weight: 600;  /* SEARCH SECTION */
}
p, li {
	font-size: 16px;
}

.img {
	background-size: cover;
	background-position: center;
}

span {  /* Bold pour les prix */
  font-weight: bold;
}

.boxhebergements em, .boxpopulaires em {
  font-weight: bolder;
	font-style: initial;
}

/* HEADER NAVIGATION ******************************************************************** */

header {  /* LOGO + Class NAVMAIN */
  display: -webkit-box;
  display: -ms-flexbox;

  background-color: white;
  display:flex;
  flex-direction:row;  /* ORDRE items (inversé - en colonne etc..) */
  justify-content: space-between;
  position:relative;    

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

#logo{
background-color:white;
display:flex;
justify-self: flex-start;
width:100px;
height: auto;
margin:3vw 3vw 1.5vw 2.5vw;   /* Hauteur marge */
}
#logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/** Réglages liste de navigation */

nav {  /* <NAV (GLOBAL)> 01 Hébergement + Activités */
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  justify-content:flex-start;
	padding-right: 0;
}
nav ul { /* CLASS "nav_bar" */
  display: -webkit-box;
  display: -ms-flexbox;

  background-color: white;
  display: flex;

  list-style-type: none;
  margin-top: 0;
  margin-right: 2vw;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style-type: none;
  margin-top: 0;
  margin-right: 2vw;
}

nav ul li { /* <NAV> 03 Hébergement + Activités (CENTRE MENU)*/
  border-top: solid 2.5px transparent ;
  padding: 10px 15px 0 15px; /* haut droite bas gauche */
}
nav ul li:hover { /* <NAV> 04.A Hébergement + Activités (TRAIT AU-DESSUS)*/
  border-top: solid 2.5px var(--blue);
}

nav li, nav a {
	list-style: none;
	color: black;
}

/* ****************************  MENU  ********************************** */

.navmain {  /* Ecart */
  padding: 50px 0px 25px 5px;   
} 
.navmain a { /*contenant Hébergements et Activités */
  padding: 50px 34px 0 34px;        /* haut droite bas gauche */
  border-top: solid 2.5px transparent;
}
.navmain a:hover {
  color: var(--blue);
}

/* Onglet "S'INSCRIRE" **************/

.sinscrire {
  font-weight: 800;
  font-size: 16px;
  color: var(--blue);
  padding: 0 50px 38px 50px;  /* haut droite bas gauche */
}

.lightblue-link {  /* S'inscrire */
  padding: 50px 0px 25px 5px;  /* haut droite bas gauche */
}
.lightblue-link a:hover{ 
	border-top: solid 5.5px transparent;
}

/* MAIN SECTION - RECHERCHE ***************************************************************************  */

/* MAIN - Zone de Recherche CONTAINER  */

.recherche h1 {
  margin-left: 2.3vw;
  font-size: 22px;
  margin-top: 1vw;
  margin-right: 20px;
  clear: left;
}
.recherche p {
  margin-top:16px;
  margin-left:2.3vw;
  margin-bottom: 20px;
  font-size: 16px;
}
.search {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  height: 50px;
  margin-bottom: 30px;
}
.filter {
  margin-left:2.3vw;
}

#recherche {
  display: -webkit-box;
  display: -ms-flexbox;

	padding: 50px 0px 30px 50px;
}

#recherche_titre {
	font-size: 20px;
	padding-bottom: 10px;
}

.recherche_ville {
	display: flex;
	flex-direction: row;
	margin: 20px 0 30px 0;
}

#search {
	height: 50px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 15px;
	border: solid 1px var(--blue);
	padding: 15px;
}

::placeholder {
	color: black;
}

#search:focus {
	border-color:var(--blue);
	outline: var(--blue);
}




/* SEARCH - LIGNE RECHERCHE ************************************************************* */

/* RECHERCHE */

.search {
  display: flex;
  margin-left: 3.3vw;
  height: 50px;
  margin-bottom: 30px;
}

/* 01 icon MAPMAKER */
.mapmarker {
  min-width: 60px;

  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgrey);
  font-size: 1.2em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

/* 02 ZONE de Recherche */

.searchfield {
  width: 12rem;
  border-top: solid var(--lightgrey) 1px;
  border-bottom: solid var(--lightgrey) 1px;
  border-left: none;
  border-right: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  padding-left: 20px;
}

/* 03 BOUTON Recherche BUTTON */

.searchbutton {
  width: 132px;
  background-color: var(--blue);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: relative;
  cursor: pointer;
}
#loupe {
  display:none;
}


/* SECTION FILTRES *************************************************************** **/

.filter {
  margin-left: 3.3vw;
 }

 /* 01 H2 TITRE FILTRES **/
.filterstitle {
  float: left;
  margin-right: 2.2vw;
  padding-top: 15px;
}

/*  FILTRES ** Tous les BOUTONS ECONOMIQUE FAMILIAL ROMANTIQUE ANIMAUX AUTORISES ************************** **/

/* ICON FILTRES - Eco Fam Romant Animaux autorisés ******* **/

.filtericon {
  background-color: var(--lightblue);
  padding: 17px 16px 17px 18px;
  margin-right: 15px;
  border-radius: 50%;
  color: var(--blue);
}

.filtericonfamilial { /* pour le responsive */
  background-color: var(--lightblue);
  padding: 16px 18px 17px 20px;
  margin-right: 15px;
  border-radius: 50%;
  color: var(--blue);
}

.filtericoneconomique { /* pour le responsive */
  background-color: var(--lightblue);
  padding: 17px 15px 17px 16px;
  margin-right: 15px;
  border-radius: 50%;
  color: var(--blue);
}

.icontextfilters {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 1.5vmax;
  border-top: solid #e0e0e0 2px;
  border-right: solid #e0e0e0 2px;
  border-bottom: solid #e0e0e0 2px;
  border-left: none;
  border-radius: 60px;
  padding: 0.9em;
  padding-left: 0;
}
.icontextfilters:hover {
  background-color: #f1f7ff;
  transform: scale(1.05);
  transition: 0.4s;

  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}


/** 500 LOGEMENTS DISPONIBLES **/

.infoicon{ /** infoicon*/
  margin-right: 12px;
  font-size: 0.8em;
  border: solid var(--lightgrey) 2px;
  border-radius: 50%;
  color: var(--blue);
  padding: 0.4em 0.85em;
}

.info {
display:flex;
align-items: center;

margin-top: 28px;
font-size: 1em;
}

.info p {
  margin: 0;
  font-size: 1em;
}
/********************************* **/

/* SECTION HEBERGEMENTS **************** */

main {  /* FULL div "Container-hebergement" */
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  justify-content: space-between;
  margin: 0 0vw 0 2vw;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

h2 {  /** title - Hebergement Marseille **/
  font-size: 1.7vmax;
  margin: 03.3vw 0 1.2vw 2.8vw;
}

.container-hebergement {
  background-color: var(--lightgrey);
  border-radius: 25px;
  margin: 2.5vw 3vw 0vw 1.5vw;
  width: 64%;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;

  display:flex;  /*** au lieu de  -webkit-box **/
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;

  -ms-flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
}

.boxhebergements {
  width: 15.8vw;
  height: 13vw;
  background-color: white;
  border-radius: 25px;
  padding: 0.35em;
  margin: 10px 0 30px 10px;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);

  -webkit-box-shadow: 4px 2px 20px rgb(201, 201, 201);
}

.boxhebergements:hover {
  transform: scale(1.05);
  transition: 0.4s;

  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}

.imagehebergements {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 59%;
  object-fit: cover;

  -o-object-fit: cover;
}

/*ETOILES - Hebergements */

.etoiles {
  color: var(--blue);
  font-size: 0.8vw;
  margin-left: 10px;
  margin-top: 0;
}
.etoilegrise {
  color: rgb(201, 201, 201);
  font-size: 0.8vw;
}

h4 {
  font-size: 1.3vw;
  margin-left: 10px;
  margin-top: 2px;
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  font-size: 1vw;
  margin: 2px 0 10px 10px;
}

a {
  text-decoration: none;
  color: black;
}

.plusderesultats {
  font-weight: bold;
  font-size: 1.2vmax;
  margin-left: 2.8vw;
  margin-bottom: 1.5vw;


}

/* SECTION POPULAIRES **************** */

/** ASIDE : COLONNES POPULAIRES et HEBERGEMENTS (Container) **/

.populaires { /* FULL aside "populaires" */
  background-color: var(--lightgrey);
  border-radius: 25px;
  width: 31%;
  margin-top: 2.5vw;
  margin-right: 2vw;
  padding-bottom: 20px;
  position: relative;
}

.best_lodging_title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0px;
}

.best_lodgings h2 {
	margin-bottom: 0px;
	font-size: 1.25rem;
}

.best_lodging_title i:hover{
	cursor: pointer;
	color: var(--blue);
}

.charticon {
  position: absolute;
  top: 3.3vw;
  right: 3vw;
  font-size: 1.6vw;
}

/** BOX - BOX POPULAIRES **/

.boxpopulaires {
  display: inline-block;
  padding: 0.35em;
  width: 23vw;
  height: 9.5vw;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 2px 20px rgb(201 201 201);

  -webkit-box-shadow: 4px 2px 20px rgb(201, 201, 201);
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
.boxpopulaires:hover {
  transform: scale(1.05);
  transition: 0.4s;

  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}

.imagepopulaires {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40%;
  height: 100%;
  object-fit: cover;
  float: left;
  padding-right: 10px;
  margin-right: 0.8vw;
}

.asidepopulaires {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.etoilespopulaires {
  margin-top: 3vw;
  color: var(--blue);
  font-size: 0.8vw;
  margin-left: 10px;
}

/** ACTIVITES - SECTION **************** */

/* SECTION ACTIVITES **************** */

.sectionactivites {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  justify-content: space-between;
  margin: 0 3.3vw 3.5vw;
  height: 31.5vw;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.boxactivites_1 {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  padding: 0;
}
.boxactivites_2 {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

.boxactivites_a {
  width: 21vw;
  padding: 0;
  margin: 0;
}
.boxactivites_b {
  width: 21vw;
  height: 50%;
  padding: 0;
  margin: 0;
}
.boxactivites_c {
  width: 21vw;
  height: 41%;
  padding: 0;
  margin: 0;
}

.imageactivites_a {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 85%;
  padding-bottom: 10px;
  object-fit: cover;

  -o-object-fit: cover;
}
.imageactivites_b {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
  padding-bottom: 10px;
  object-fit: cover;
  
  -o-object-fit: cover;
}
.imageactivites_c {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 63%;
  padding-bottom: 10px;
  object-fit: cover;

  -o-object-fit: cover;
}

figure {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgb(230, 230, 230);

  -webkit-box-shadow: 2px 2px 20px rgb(230, 230, 230);
}
figure:hover {
  transform: scale(1.05);
  transition: 0.4s;

  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}

figcaption {
  font-weight: bold;
  font-size: 1.2vmax;
  margin-left: 1.4em;
  margin-top: 0.3em;
}

#Activites h2 {
  margin: 4vw 2.2vw 2vw 3.5vw;
}

/* ETOILES BLEUES et GRISES BAD ou GOOD */

/* FOOTER  **************************************** **/

footer {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  background-color: var(--lightgrey);
  padding-bottom: 30px;
  padding-top: 40px;
}

footer h5 {
  font-size: 1.2vw;
  margin-bottom: 1.4em;
  padding: 0;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
  margin-bottom: 1.2em;
  font-size: 1.1vw;
}

.apropos {
  margin-right: 13vw;
  margin-left: 3.5vw;
}

.noshebergementsfooter {
  margin-right: 13vw;
  margin-left: 3.5vw;
}

.assistance {
  margin-right: 13vw;
  margin-left: 3.5vw;
}

.apropos ul li:hover,
.noshebergementsfooter ul li:hover,
.assistance ul li:hover {
  -webkit-text-stroke: 1px black;
}
/**********************************************************************************************************/
/***************************************Media Queries MOBILES ********************************/

/** IPHONE 8 **/
@media  screen and (min-width: 320px) and (max-width: 767px) {

  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0;
  }
  
  .container-nav {
    background-color: white;
    margin-top: 10px;
  }

  h1 {
    margin: 20px 15px 0px 6px;
    padding-top: 25px;
  }
 
  h4 {
    font-size: 3vw;
  }

  header {
    flex-direction:column;
  }
  
  nav {
    width: 100%;
    margin: 0;
  }
  nav a:hover {
    border-top: none;
  }

  nav ul {
    width: 100%;
    padding: 0;
  }

  nav li {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--lightgrey);
    padding-bottom: 2vh;
  }
  nav li:hover {
    border-top: none;
    border-bottom:  3px solid var(--blue);
  }
  
  .navmain {
    padding: 20px 25px 20px 30px;
            /* haut droite bas gauche */
  }
  .navmain a {
    padding: 0;
  }
  .navmain a:hover {
    color: var(--blue);
    font-weight: 600;
  }

  .lightblue-link {       /* S'inscrire */
    position:absolute;
    left: 5px;
    top: 30px;
    padding: 0;
    border-style:hidden;
  }
  .lightblue-link:hover {       /* S'inscrire */
    border-bottom:none;
    border-top: none;
  }

  .sinscrire {
    top: 2.2vw;
    right: 5vw;
    margin: 0;
    float: right;
    padding: 0px 30px 0px 38px;
  }
  .sinscrire:hover {
    border-top:0;
    border-bottom:none;
  }

    /***************** Recherche ************************/

  .recherche {
    padding: 2vw 3vw 2vw 3vw;
  }

  .search {
    margin-bottom: 0px;  
  }
  .searchbutton {
    display: none;
  }

  /***************** Filtres ************************/

  .filtericon {  /** ensemble icons **/
    margin-left: 0px;
    margin-right: 5vw;
  }

  nav ul li:hover { /* <NAV> */
    border-top: none;
    border-bottom: solid 3px var(--blue);
  }

  #loupe {
    display:inline-block;  /* CENTRER ICON */
    color: white;
    background-color: var(--blue);
    height: 50px;
    width: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: initial;
    color: white;
    border-radius: 15px;
    border: none;
    position: absolute;
    left: 80vw;
    cursor: pointer;
    }
    .filterstitle {
      width: 100%;
      margin: 10px 0px 10px 6px;
    }
  
  /***************** Hébergements ************************/

  #body {
    width: 100%;
  }
  #logo,
  #h1,
  form,
  #filter,
  .recherche {
    padding-left: 3vw;
  }

  h2 { /* Hebergements à Marseille */
    font-size: 5.5vw;
    margin: 43px 0 28px 21px;
  }

  .container {
    width: 100%;
  }

  .principal {
    width: 100%;
    margin-bottom: 10px;
  }

  .container h2,
  .populaires h2 {
    margin: 35px 10px 10px 25px;
    font-size: 3vmax;
  }
  
  .principal p {
    font-size: 3vw;
  }

  .container-hebergement {
    width: 100%;
    margin: 10px 0 10px 0px;
    background: none;
    padding: 0;
  }

  .Hebergements h2, .activites h2 {
    margin: 40px 7% 30px 7%;
    }

      /***************** Hébergements box ************************/
    
  .boxhebergements {
    width: 25vw;
    height: 20vw;
  }

  .boxhebergements {
    width: 85%;
    height: 190px;
  }

  h4 {  /* infos TITRE box */
    font-size: 16px;
    padding: 0;
  }

  .boxhebergements p,
  .boxpopulaires p {
    font-size: 16px;
  }

/* ********************** Etoiles ******************/

  .etoiles,
  .etoilegrise {
    font-size: 1.4vw;
  }

  .etoilespopulaires {
    font-size: 1.4vw;
  }

  .imageactivites_a,
  .imageactivites_b,
  .imageactivites_c {
    padding-bottom: 0.2vw;
  }

  figcaption {
    font-size: 1.2vw;
    margin-top: 5px;
  }

  .plusderesultats {
    font-size: 18px;
    margin-left: 20px;
  }

 /***************** populaire ************************/
  
 .best_lodging_title {
  justify-content: space-between;
  margin: 0px 0 10px 0;
  width: 85%;
  }
  .charticon {
    margin: 20px;
    font-size: 6vw;
  }

  .populaires {
    width: 100%;
    border-radius: 0;
    margin-top: 30px;
  }
   
  .populaires p {
    font-size: 3vw;
    margin-bottom: 0;
  }
    
  .boxpopulaires p {
    margin-bottom: 8vw;
  }
  .boxpopulaires {
    width: 85%;
    height: 145px;
    margin-bottom: 5px;
  }

  .asidepopulaires {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    flex-direction: column;

    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
 
  .imagepopulaires {
    margin-right: 2.5vw;
  }

  .etoiles,
  .etoilegrise,
  .etoilespopulaires {
    font-size: 3vw;
  }

  /****************** activite ************************/
  
  #Activites figcaption {
    margin-left: 4vw;
  }

  #Activites {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  #Activites h2 {
    font-size: 22px;
    margin-top:30px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .sectionactivites {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-bottom: 25px;
    width: 100%;
  }

  .boxactivites_1 {
    width: 85%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .boxactivites_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 85%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .boxactivites_a,
  .boxactivites_b,
  .boxactivites_c {
    width: 100%;
    height: 190px;
    margin-bottom: 25px;
  }
  .imageactivites_a,
  .imageactivites_b,
  .imageactivites_c {
    height: 135px;
  }

  figcaption {
    font-size: 16px;
    margin-top: 2.5vmax;
  }
  
  /************************* footer ************************/

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 2vh;
  }
  footer h5 {
    font-size: 18px;
  }
  footer ul {
    padding: 3px 0 10px 0;
  }
  footer ul li {
    font-size: 16px;
  }

  .apropos,
  .hebergementsfooter,
  .assistance {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}  


/* ******************  Media Queries - TABLETTES ******************/

@media screen and (min-width: 768px) and (max-width: 1023px) {

  * {
    margin: 0;
  }

  #container-nav {
    width: 98%;   /* Permettre une marge à toute la page du HEADER jusqu'au FOOTER */
  }

  /* MAIN Recherche CONTAINER  */
  .recherche h1 {
    margin-top: 5vw;
  }

  .populaires {
    width: 50%;
  }

  h2 {
    font-size: 3.8vw;
  }

  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }

  .asidepopulaires {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    border-radius: 25px;
    margin-top: 30px;
  }

  .boxpopulaires {
    width: 28vw;
    height: 12vw;
  }

  .charticon {
    position: absolute;
    top: 3.3vw;
    right: 3vw;
    font-size: 4.6vw;
  }
  .container-hebergement {
    margin: 2.5vw 3vw 0vw 1.5vw;
    width: 96%;
    padding-bottom: 25px;
  }
  
  .container {
    width: 100%;
  }

  .boxhebergements {
    width: 25vw;
    height: 20vw;
  }

  h4 {
    font-size: 1.7vw;
  }
  .boxhebergements p,
  .boxpopulaires p {
    font-size: 1.5vw;
  }

  .etoiles,
  .etoilegrise {
    font-size: 1.8vw;
  }
  .etoilespopulaires {
    font-size: 1.8vw;
  }

  .etoilespopulaires {
    margin-top: 1.8vw;
  }
  
  /* POPULAIRES -TABLETTE **/

  .populaires {
    width: 96%;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 10px;
  }
 
  .populaires p {
    font-size: 1.7vw;
    margin-bottom: 0;
    font-weight: 600;
  }
  
.boxpopulaires {
    width: 30%;
    height: 85px;
    margin-bottom: 5px;
  }

  h4 {  /* infos TITRE box */
    font-size: 14px;
    padding: 0;
  }
  
  .imagepopulaires {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 30%;
  }

  .plusderesultats {
    font-weight: bold;
    font-size: 2vmax;
    margin-left: 2.8vw;
    margin: 03.3vw 0 1.2vw 2.8vw;
    padding-bottom: 3.5vw;
  }

/***** CHANGEMENT **/

  #Activites {
    width: 100vw;
    margin: 0;
  }
  #Activites h2 {
    font-size: 3.8vw;
    margin-left: 4vw;
    margin-bottom: 30px;
  }

  .sectionactivites {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    margin: 0 30px;
    margin-bottom: 2.5vw;
  }

  .boxactivites_1 {
    width: 33%;
  }
  .boxactivites_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 66%;
  }

  .boxactivites_a,
  .boxactivites_b,
  .boxactivites_c {
    width: 28vw;
    height: 24vw;
    margin-bottom: 25px;
  }
  .boxactivites_b,
  .boxactivites_c {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 0.7vw;
  }
  .imageactivites_a,
  .imageactivites_b,
  .imageactivites_c {
    height: 18vw;
    padding-bottom: 1vw;
  }

  figcaption {
    font-size: 1.8vw;
  }

  footer {
    padding-top: 3vw;
  }

  footer h5 {
    font-size: 2.1vw;
  }

  footer ul li {
    font-size: 1.6vw;
  }
}
/***********************************************************************************************************/
/***************************************Media Queries SMALL DESKTOP ************************/

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  
  footer {
    width: 1500px;
    margin-right: auto;
    margin-left: auto;
  }
}